h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #3a3a3a;
    
}

#color-palette div{
    margin-bottom: 24px;
    margin-right: 16px;
    border-radius: 4px;
}

.color {
    width: 48px;
    height: 48px;
    background-color: blue;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

#buttom-random-color {
    font-family: 'Poppins';
    border: none;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    padding: 14px;
    text-align: center;
    font-size: 16px;
    background-color: #00952d;
    cursor: pointer;
    margin-bottom: 32px;
    margin-right: 16px;
}

#buttom-random-color:hover {
    background-color: darkgreen;
}

.linha {
    /* width: 240px; */
    display: flex;
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.selected {
    border-color: red;
    /* border-radius: 100%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#clear-board{
    font-family: 'Poppins';
    border: 2px solid #00952d;
    text-decoration: none;
    border-radius: 8px;
    color: #00952d;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 32px;
}

#clear-board:hover {
    background-color: rgb(200, 240, 220);
}

form label p{
    font-family: 'Poppins';
    display: flex;
    font-size: 12px;
    color: #3a3a3a;
    margin: auto;
    margin-left: 8px;
}

#generate-board{
    font-family: 'Poppins';
    border: 2px solid #1139c7;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    padding: 14px;
    text-align: center;
    font-size: 16px;
    background-color: #1139c7;
    cursor: pointer;
    margin-bottom: 32px;
}

#generate-board:hover{
    background-color: #4b6be9;
}

#board-size{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid  #989898;
    font-size: 18px;
    padding: 8px 16px;
}